<div class="container m-5"> 
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><b>980</b></h4>
          <h5 class="card-subtitle mb-2 text-muted">Vacas</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>         
        </div>
      </div>      
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><b>1.088</b></h4>
          <h5 class="card-subtitle mb-2 text-muted">Terneros</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>         
        </div>
      </div>  
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><b>10</b></h4>
          <h5 class="card-subtitle mb-2 text-muted">Toros</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>         
        </div>
      </div>  
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><b>122</b></h4>
          <h5 class="card-subtitle mb-2 text-muted">Novillos</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>         
        </div>
      </div>  
    </div>
  </div>    
</div>
